{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block my_title %}Register !{% endblock %}

{% block body %}
<div class="card shadow-sm mx-auto">
    <div class="card-body">
    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(registrationForm.name) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(registrationForm.plainPassword.first) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-outline-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
