<button class="btn bg-dark text-white" id="nav_btn"> <span class="fas fa-bars"></span> </button>
<nav id="sidebar" class="bg-dark">
    <div class="text"> ALP - 3wa </div>

    <div class="container p-3">
        <ul class="main_side p-0">
            <li class="{{ route_name is same as 'home' ? 'active' : '' }}"><a href="{{ path('home') }}">Home</a></li>
        </ul>

        <ul class="main_side mt-5 p-0">
            {% if app.user %}
            <li>
                <a href="#" id="user_dropdown">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>{{ app.user.name }}</strong>
                    <span class="fas fa-caret-down"></span>
                </a>
                <ul class="item-show-user_dropdown">
                    <li class="{{ route_name is same as 'user_detail' ? 'active' : '' }}"><a href="{{ path('user_detail', {'id': app.user.id}) }}">My Account</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class=""><a href="">Admin</a></li>
                    {% endif %}
                    <li class="{{ route_name is same as 'app_logout' ? 'active' : '' }}"><a href="{{ path('app_logout') }}">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <div class="row g-0">
                <li class="col-6 {{ route_name is same as 'app_register' ? 'active' : '' }}">
                    <a href="{{ path('app_register') }}" class="{{ route_name is same as 'app_register' ? 'active' : '' }}">Register</a>
                </li>
                <li class="col-6 {{ route_name is same as 'app_login' ? 'active' : '' }}">
                    <a href="{{ path('app_login') }}" class="{{ route_name is same as 'app_login' ? 'active' : '' }}">Login</a>
                </li>
            </div>
            {% endif %}
        </ul>

    </div>
</nav>

<div id="active_sidebar_div" class="d-none"></div>

