<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ render(controller('App\\Controller\\MainController:mainMenu', {
            'routeName' : app.request.attributes.get('_route'),
        })) }}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }} alert alert-{{ label }} alert-dismissible m-3 shadow-sm w-75 ms-auto" role="alert" style="position:relative; top: -40px;">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <h2 class="text-end m-5 fw-light text-muted">{% block my_title %}{% endblock %}</h2>
        <div class="container" id="main_container">
            {% block body %}{% endblock %}
        </div>

        {% block my_javascripts %}{% endblock %}
    </body>
</html>
