{% extends 'base.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}
{% block my_title %}Your Account{% endblock %}

{% block body %}
<div class="card shadow-sm mx-auto">
    <div class="card-body">
        <div class="row">

            <div class="col-xl-3">
                <div class="avatar-img-detail mx-auto">
                    <img
                        src="{{
                            user.image ?
                            asset('build/img/users/' ~ user.image) :
                            asset('build/img/users/default-avatar.jpg') 
                        }}"
                        class="img img-responsive full-width img-thumbnail rounded-circle"
                        alt="Your profile picture"
                    />
                </div>
            </div>

            <div class="col-xl-9">
                <h4 class="text-center">{{ user.name }}</h4>
                <div class="d-flex justify-content-between">
                    <div>{{ user.email }}</div>
                    <a class="btn btn-sm btn-outline-primary" href="{{ path('user_edit', {'id': user.id}) }}">Edit Profile</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
